@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Reliance</h1>
<div class="jumbotron">

    <p style="font-size:smaller">noun: reliance</p>
    <p style="font-size:larger">dependence on or trust in someone or something.</p>
    <p style="font-size:larger">a person or thing on which someone depends.</p>
    <p style="font-size:medium"><u>Similar:</u> <i>dependence, dependency, seeking support from, leaning on, trust in, confidence in</i></p>
    <p style="font-size:smaller">plural noun: reliances</p>

    <h2 style="font-size:x-large">So...what does your app depend on? ...</h2>
</div>
