@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert-info">
    SnowStorm says... @Model.SnowStormGreeting
</div>

@{ if (Model.Packages != null)
    {
        <ejs-grid id="PackagesGrid"
                  allowPaging="true"
                  allowSorting="true"
                  allowFiltering="false"
                  allowGrouping="true"
                  toolbar="@(new List<string>() { "add", "edit", "delete", "update", "cancel" })"
                  width="auto"
                  rowTemplate=""
                  dataSource="@Model.Packages">
            <e-grid-editSettings allowAdding="true"
                                 allowDeleting="true"
                                 allowEditing="true"
                                 newRowPosition="Top"
                                 showDeleteConfirmDialog="true">
            </e-grid-editSettings>
            <e-grid-pagesettings pageSize="25"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" isIdentity="true" isPrimaryKey="true" visible="false"></e-grid-column>
                <e-grid-column field="Name" headerText="Name" width="50%"></e-grid-column>
                <e-grid-column field="FullVersion" headerText="Version" width="25%"></e-grid-column>
                <e-grid-column field="TargetFramework" headerText="TargetFramework" width="25%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    }
}