@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Ever wondered which of your apps is using what dependency and what version of that dependecy?</p>
    </div>
    <div class="col-md-4">
        <p>Wondered which of your apps will break because you made a change to NuGet package?</p>
    </div>
    <div class="col-md-4">
        <p>That is the purpose of this system.  To reduce the uncertainty and problems caused by these issues.  You can now know which app is affected by what dependency.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        Better to know than to wonder.
    </div>
</div>

