@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Reliance...</h1>
<div class="jumbotron">
    <p>What does your app rely on?</p>
    <p>Do you know what NuGet package your app is using?</p>
    <p>Do you know which of your apps is using your NuGet package?</p>
    <p>Can you easily check if any of your apps is using a compromised NuGet component?</p>
    <p>....</p>
</div>
