@page
@model Reliance.Web.Pages.RepoOwnerModel
@{
    ViewData["Title"] = "Owner Info";
}

<h1>Owner Information</h1>

<form asp-page-handler="UpdateOwnerInfo" method="post">
    <div class="row">
        <div class="col-md-2">
            Owner Name
        </div>
        <div class="col-md-4">

        </div>
    </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-2">
                Organisation
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            API Keys
            <form asp-page-handler="NewApiKey" method="post">
                <input type="hidden" name="RepositoryOwnerId" value="@Model.OwnerInfo" />
                <button class="btn btn-default">Create new Api Key</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Key
        </div>
        <div class="col-md-4">
            Created On
        </div>
        <div class="col-md-4">
            Expires On
        </div>
        <div class="col-md-4">
            Actions
        </div>
    </div>
</form>

